{% load staticfiles %}
<html>

<head>
<title>Hairdressing</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>


<body>

<header class="bgimage">
    <div class="container">
	    <div class="titled hidden-xs" >
	    
	    </div>
	</div>
</header>	


<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="80">
    <div class="container">
	    <div class="navbar-header">
		    <button type="button"
			class="navbar-toggle collapsed"
			data-toggle="collapse"
			data-target="#collapsedmenu"
			aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
	        <a href="#" class="navbar-brand">
		       <i>The Glamour Lounge</i>
		    </a>
		</div>
		<div class="collapse navbar-collapse" id="collapsedmenu"> 
		    <ul class="nav navbar-nav">
		        <li><a href="{% url 'post_list' %}">Home</a></li>
			    <li><a href="{% url 'hair_extentions' %}">Hair Extentions</a></li>
			    <li><a href="{% url 'make_up' %}">Make up</a></li>
				<li><a href="{% url 'lashes_brows' %}">Brows & Lashes</a></li>
				<li><a href="{% url 'nails' %}">Nails</a></li>
				<li  class="active"><a href="{% url 'hairdressing' %}">Hairdressing</a></li>
				<li><a href="{% url 'price_list' %}">Price List</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
		    </ul>
		</div>
	</div>
</nav>

<div class="container" id="wrapper">   	
		<h2 id="fonted"><i> &nbsp;&nbsp; Hairdressing</i></h2>
        
		
		
		<div class="container">
			<div class="col-md-12">
				
			
		
				<br><br>
				
				<br><br>
			</div>	
			<div class="row">
				<div class="col-sm-6">
				
				{% for Hairdressing in Hairdressings %}
					<div>
						<h4><i>{{ Hairdressing.type }}</i></h4>
						<p>{{ Hairdressing.description|linebreaksbr }}</p>
						<hr>
					</div>
				{% endfor %}
				<br><br>
				<p>Hairdressing By Yvonne Duncan</p>
				</div>
				<div class="col-sm-6">
				<img  src="{% static 'images/hairdressing/hairdressing3.jpg' %}" class="img-responsive">
				<br><br><br><br><br><br>
				<img  src="{% static 'images/hairdressing/hairdressing2.jpg' %}" class="img-responsive">	
		
				</div>			
			</div>
			<br><br>
		
			<div id="HairCarousel" class="carousel slide">
								<!-- Carousel-->
								<div class="carousel-inner">
									<div class="item active">				    
										<div class="row">
																
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal1" class="thumbnail"><img src="{% static 'images/hairdressing/hair1.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal1" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair1.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal2"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair2.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal2" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair2.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal3"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair3.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal3" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair3.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal4"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair4.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal4" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair4.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>										
										</div>							
										<!--/row-->
									</div>
									<!--/item-->
									<div class="item">
										<div class="row">
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal5" class="thumbnail"><img src="{% static 'images/hairdressing/hair5.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal5" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair5.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal6"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair6.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal6" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair6.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal7"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair7.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal7" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair7.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
											<div class="col-sm-3"><button type="button" id="carousel-img" data-toggle="modal" data-target="#myModal8"  class="thumbnail"><img  src="{% static 'images/hairdressing/hair8.jpg' %}" class="img-responsive"></button>
											</div>
											<div id="myModal8" class="modal fade" role="dialog">
												<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
												<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<p></p>
												</div>
												<div class="modal-body"> 
												<img id="modal-img" src="{% static 'images/hairdressing/hair8.jpg' %}" class="img-responsive">
												</div>  
												</div>
												</div>
											</div>
										</div>
										<!--/row-->
									</div>
									<!--/item-->
									
									<!--/carousel-inner-->
									<a class="left carousel-control" href="#HairCarousel" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
									 </a>
							
									 <a class="right carousel-control" href="#HairCarousel" role="button" data-slide="next">
									 <span class="glyphicon glyphicon-chevron-right"></span>
									 </a>
								</div>
								
				</div>
				<!-- / Carousel-->
				
				<p></p>
			
			
		</div>
		
	</div>
    <div class="footer">
        <p><b>&copy; &nbsp;University of Dundee</b></p>
    </div>  

			
	
	



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>

